input,
textarea {
    font-family: "Rubik";
    font-size: 16px;
    outline: none;
    color: white;
    width: 100%;
    display: inline-block;
    height: 30px;
    background: transparent;
    border-color: transparent;
    border-bottom: 2px solid rgba(153, 205, 50, 0.5);
    opacity: 0.8;
    margin: 15px 0 22px 0;

    &::placeholder {
        color: goldenrod;
    }

    &:focus {
        opacity: 1;
    }
}
textarea {
    height: 100px;
    resize: none;
}
.error {
    color: crimson;
    font-weight: 600;
    position: absolute;
    transform: translateY(-10px);
}
